[Unit]
Description=IPMI fan control service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart="/usr/bin/ipmi-fan-control" auto --config "/etc/ipmi-fan-control/config.ini"
KillMode=mixed

[Install]
WantedBy=multi-user.target
