[Unit]
Description=IPMI 风扇控制服务 / IPMI fan control service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart="/usr/bin/ipmi-fan-control" auto --config "/etc/ipmi-fan-control/config.yaml"
KillMode=mixed

[Install]
WantedBy=multi-user.target
